header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: whitesmoke;
  margin-left: calc(-50vw + 50%);
  z-index: 1;
  position: absolute;
}
header ul {
  padding: 2%;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
